@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }
body {
	font-family: 'S-CoreDream-3Light';
}
div h1 {
	margin: 20px;
}
h1 {
	color: darkblue;
	margin: 20px;
	padding-top: 30px;
	font: bold;
}
.bg {
	margin-bottom: 0px;
	padding: 15px;
	position: relative;
}
.bg::before{
	content: "";
	background-image: url('brain-5369196_1280.jpg');
	background-size: cover;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;;
}
ol h2 {
	color: red;
	font: bold;
	font-size: 30px;
}
ol p {
	color: black;
	font: bold;
	font-size: 20px;
}
