@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
 }
body {
	font-family: 'S-CoreDream-3Light';
}
div h1 {
	margin: 20px;
}
h1 {
	color: darkblue;
	margin: 20px;
	padding-top: 30px;
	font: bold;
}
.bg {
	margin-bottom: 0px;
	padding: 15px;
	background: url('brain-5369196_1280.jpg') no-repeat fixed;
	background-size: cover;
}
h2 {
	color: blue;
}
p {
	color: white;
	font: bold;
}
